* {
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
}

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	width: 16.6%;
}

.inner {
	background-color: #FFDCDC;
	width: 100%;
	height: 100%;
	border: 1px solid #999;

}

@media (min-width: 769px) {
	.col-1 { width: 8.33%; }
	.col-2 { width: 16.66%}
	.col-3 { width: 25%; }
	.col-4 { width: 33.33%;  }
	.col-5 { width: 41.66%; }
	.col-6 { width: 50%; }
	.col-7 { width: 58.33%; }
	.col-8 { width: 66.66%; }

}


div[class*="col-"] {
	height: 50px;
	padding: 10px;
	
}